.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  height: 12rem;
  width: 100%;
  max-width: 128rem;
  background-color: $color-light-xl;
  z-index: 2;

  @media only screen and (max-width: $bp-large) {
  }

  @media only screen and (max-width: $bp-medium) {
  }

  @media only screen and (max-width: $bp-small) {
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    flex: 1;

    @media only screen and (max-width: $bp-large) {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-left: 0rem;
      margin-right: 2rem;
      justify-content: flex-end;
    }
  }
}

.logo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100500;

  &__title {
    margin: 0;

    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: $color-dark-l;
  }

  &__subtitle {
    margin: 0 0 0 4px;
    text-align: start;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: $color-dark-3xl;
  }
}

.navbar {
  height: 60px;
  width: 44.3rem;
  margin-left: auto;

  @media only screen and (max-width: $bp-medium) {
    width: auto;
    margin-left: 10.5rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 3rem;
    right: 3.8rem;
    border-radius: 50%;
    z-index: 1000;
    transition: all .4s;

    cursor: pointer;
  }

  &__icon {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    top: 2.9rem;
    left: 1.5rem;
    @media only screen and (max-width: $bp-medium) {
      position: relative;
      visibility: visible;
    }

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked + &__button {
    @media only screen and (max-width: $bp-medium) {
      transform: rotate(90deg);
    }
  }

  &__checkbox:checked ~ .blackout {
    @media only screen and (max-width: $bp-medium) {
      opacity: 1;
      height: 100vh;
      width: 100%;
      display: initial;
      background: $color-blackout;
    }
  }

  &__checkbox:checked ~ .blackout > .navbar__list {
    @media only screen and (max-width: $bp-medium) {
      // transform: translateX(-35rem);
      width: 32rem;
      opacity: 1;
    }
  }
  &__checkbox:checked ~ .blackout > .navbar__list > .navbar__item {
    @media only screen and (max-width: $bp-medium) {
      opacity: 1;
      // background-color: orange;
    }
  }
}

.blackout {
  width: 1px;
  height: 1px;
  @media only screen and (max-width: $bp-medium) {
    opacity: 0;
    width: 1px;
    height: 1px;
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s;
  }
}

.navbar__list {
  display: flex;
  width: 1px;
  height: 1px;
  justify-content: space-between;
  padding-top: 16px;
  list-style: none;
  transition: all .3s;

  @media only screen and (max-width: $bp-medium) {
    opacity: 0;

    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

    width: 0rem;
    height: 100vh;
    top: -3rem;
    padding-top: 2.5rem;
    right: 0;
    background-color: $color-light-xl;
  }
}

.navbar__item {
  @media only screen and (max-width: $bp-medium) {
    height: 5.1rem;
    opacity: 0;
    // background-color: orange;
  }
}

.navbar__item:not(:last-child) {
  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 4rem;
  }
}

.navbar__link {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  padding-bottom: 4px;

  color: $color-dark-l;

  // &:disabled {

  // }

  @media only screen and (max-width: $bp-medium) {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 160%;

    padding-bottom: 0px;
  }
}

.navbar__link:hover {
  color: $color-dark-3xl;
}

.navbar__link.enabled {
  color: $color-dark-3xl;
  border-bottom: 3px solid $color-primary;

  @media only screen and (max-width: $bp-medium) {
    height: 5.4rem;
    padding-bottom: 7px;
  }
}
