.pets {
  padding-top: 12rem;
  padding-bottom: 10rem;

  background-color: $color-light-l;

  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 7.6rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 7rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 4rem;
    }

    &__heading {
      @extend %h3;

      text-align: center;

      @media only screen and (max-width: $bp-medium) {
        margin-left: 1.8rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
        margin-left: 1.7rem;
      }
    }
  }
}

.cards-wrapper {
  justify-self: center;
  width: 120rem;
  height: 93rem;
  overflow: hidden;
}

.cards-contanier {
  width: 120rem;
  height: 9999rem;
}

.cards-navigation {
  display: flex;
}

.page {
  display: flex;
  width: 120rem;
  height: 93rem;
  column-gap: 4rem;
  row-gap: 3rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;

  align-items: center;
  height: 43.5rem;
  width: 27rem;

  border-radius: .9rem;
  background-color: $color-light-s;

  transition: all .3s;

  cursor: pointer;

  // &:not(:last-child) {
  //   margin-right: 9rem;

  //   @media only screen and (max-width: $bp-large) {
  //     margin-right: 4rem;
  //   }
  // }

  &__img {
    display: block;
    height: 27rem;
    width: 27rem;

    border-radius: .9rem .9rem 0 0;
  }

  &__heading {
    margin-top: 3rem;
    @extend %h4;
  }

  & .btn__secondary {
    margin-top: 3rem;
  }
}

.card:hover {
  background-color: $color-light-xl;
}

#page {
  @extend %h4;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding-bottom: 4px;

  color: $color-dark-3xl;

  border-radius: 100%;

  background-color: $color-primary-light;
}
// .cards-list {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   column-gap: 4rem;
//   row-gap: 3rem;

//   max-width: 120rem;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 6rem;

//   list-style: none;

//   @media only screen and (max-width: $bp-medium) {
//     grid-template-columns: repeat(2, 1fr);
//     margin-top: 4rem;
//     margin-left: 9.5rem;
//     max-width: 58rem;
//     height: 136.5rem;
//     overflow: hidden;
//   }

//   @media only screen and (max-width: $bp-small) {
//     grid-template-columns: repeat(1, 1fr);
//     max-width: 30rem;
//     margin-left: 1.6rem;
//     margin-top: 4.9rem;
//   }

//   &__card {
//     display: flex;
//     flex-direction: column;
//     justify-self: center;

//     align-items: center;
//     height: 43.5rem;
//     width: 27rem;

//     border-radius: .9rem;
//     background-color: $color-light-s;

//     transition: all .3s;

//     &__img {
//       display: block;
//       height: 27rem;
//       width: 27rem;

//       border-radius: .9rem .9rem 0 0;
//     }

//     &__heading {
//       margin-top: 3rem;
//       @extend %h4;
//     }

//     & .btn__secondary {
//       margin-top: 3rem;
//     }
//   }

//   &__card:hover {
//     background-color: $color-light-xl;
//   }

//   &__btn {
//     grid-column: 1 / -1;
//     margin-top: 0px;
//     margin-left: auto;
//     margin-right: auto;
//     width: 26rem;
//   }

//   &__navigation {
//     display: flex;
//     justify-content: space-between;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 6rem;
//     width: 34rem;
//   }
//   @media only screen and (max-width: $bp-medium) {
//     margin-top: 4rem;
//     margin-left: 21.5rem;
//   }

//   @media only screen and (max-width: $bp-small) {
//     margin-top: 3rem;
//     margin-left: 1rem;

//     width: 100%;
//   }
// }
