.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35rem;

  background: url('../../assets/images/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

  overflow: hidden;

  @media only screen and (max-width: $bp-large) {
    height: 64rem;

    flex-direction: column;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 80.9rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 120rem;
    margin-left: 4rem;
    padding-top: 3.8rem;

    @media only screen and (max-width: $bp-large) {
      padding-top: 1rem;
      margin-left: 6.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      margin-left: 0rem;
    }

    &__column {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      & .column__heading {
        @media only screen and (max-width: $bp-medium) {
          text-align: center;

          font-family: 'Georgia', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5rem;
          line-height: 130%;
        }
      }

      &.contacts {
        width: 30rem;
        margin-right: 14rem;

        @media only screen and (max-width: $bp-large) {
          margin-right: 3.8rem;
        }

        @media only screen and (max-width: $bp-medium) {
          margin: auto;
          width: 30rem;
        }

        & > .column__heading {
          margin-bottom: 4.2rem;

          @media only screen and (max-width: $bp-medium) {
            margin-bottom: 3rem;
          }
        }

        & .column__link {
          display: flex;
          justify-content: center;
          height: 4.6rem;
          width: 30rem;
          margin: auto;
        }

        & .column__link:not(:last-child) {
          margin-bottom: 4.3rem;

          @media only screen and (max-width: $bp-medium) {
            margin-bottom: 3rem;
          }
        }
      }

      &.location {
        width: 30.2rem;

        @media only screen and (max-width: $bp-large) {
          width: 32.2rem;
        }

        @media only screen and (max-width: $bp-medium) {
          justify-self: center;
          width: 30rem;
          padding-top: 3.3rem;
          margin-left: 1rem;
        }

        & > .column__heading {
          margin-bottom: 3.2rem;

          @media only screen and (max-width: $bp-medium) {
            margin-bottom: 4rem;
          }
        }

        & .column__link:not(:last-child) {
          margin-bottom: 3.3rem;

          @media only screen and (max-width: $bp-medium) {
            margin-bottom: 4rem;
          }
        }
      }

      & .column__heading {
        margin-bottom: 3rem;

        @extend %h3;

        color: $color-light-xl;

        @media only screen and (max-width: $bp-medium) {
          width: 27rem;
          margin: auto;
        }
      }

      & .column__link {
        display: flex;
        align-items: center;
        text-decoration-line: none;

        color: $color-primary;

        transition: all .3s;

        &__text {
          @extend %h4;
          padding-left: 2rem;

          color: inherit;
        }
      }

      & .column__link:hover {
        color: $color-light-s;
      }
    }
  }

  &__img {
    width: 30rem;
    height: 31rem;
    margin-top: 4rem;
    margin-right: 4rem;

    @media only screen and (max-width: $bp-large) {
      margin-left: 23.4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-left: 3rem;
      width: 26rem;
      height: 27rem;
    }
  }
}
