.help {
  background-color: $color-light-xl;

  &__container {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10rem;
    padding-top: 8rem;

    &__heading {
      margin-bottom: 6rem;
      @extend %h3;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 103rem;
    height: 28rem;
    justify-content: center;

    gap: 5.5rem 12rem;

    list-style: none;

    @media only screen and (max-width: $bp-large) {
      width: 63rem;
      height: 44.9rem;
      gap: 5.5rem 6rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: $bp-large) {
        height: 11.3rem;
        width: 17rem;
      }

      &__img {
        height: 60px;
        width: 60px;
      }

      &__heading {
        margin-top: 3rem;
        @extend %h4;
      }
    }
  }
}
