.swiper-container {
  width: 99rem;
  height: 43.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @media only screen and (max-width: $bp-large) {
    padding-left: 1rem;
    width: 58rem;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 27rem;
    margin: 1.5rem auto;

    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.slide {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.pets {
  background-color: $color-light-l;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 14rem;

    @media only screen and (max-width: $bp-large) {
      margin: 0 3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin: 0;
      padding-bottom: 4.2rem;
    }
  }

  & .btn-arrow {
    @media only screen and (max-width: $bp-medium) {
      margin-top: .5rem;
      justify-self: center;
    }
  }

  & .prev {
    @media only screen and (max-width: $bp-medium) {
      margin-left: 2.7rem;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }

  & .next {
    @media only screen and (max-width: $bp-medium) {
      margin-right: 2.7rem;
      grid-row: 2 / 3;
      grid-column: 2 / -1;
    }
  }

  &__heading {
    height: 9rem;
    margin-top: 8rem;

    text-align: center;

    @extend %h3;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 4.5rem;
      width: 100%;

      font-family: 'Georgia', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5rem;
      line-height: 130%;

      letter-spacing: 0.06em;
    }
  }

  & .slider {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, max-content);
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-self: center;

      align-items: center;
      height: 43.5rem;
      width: 27rem;

      border-radius: .9rem;
      background-color: $color-light-s;

      transition: all .3s;

      cursor: pointer;

      &:not(:last-child) {
        margin-right: 9rem;

        @media only screen and (max-width: $bp-large) {
          margin-right: 4rem;
        }
      }

      &__img {
        display: block;
        height: 27rem;
        width: 27rem;

        border-radius: .9rem .9rem 0 0;
      }

      &__heading {
        margin-top: 3rem;
        @extend %h4;
      }

      & .btn__secondary {
        margin-top: 3rem;
      }
    }

    &__card:hover {
      background-color: $color-light-xl;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 26rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 4.2rem;
    }
  }
}
