.start-screen {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* ############### TODO png size  ../../assets/noise_transparent.png for retina ##################*/

  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  &__container {
    display: flex;
    margin: 18rem auto 0;
    max-width: 120rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }
}

.start-screen__puppy {
  @media only screen and (max-width: $bp-large) {
    margin-top: 9.8rem;
    margin-left: 14rem;
    height: 59.3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 10.4rem;
    margin-left: 4rem;
    height: 27.1rem;
  }
}

.start-screen__content {
  margin-top: 16.2rem;
  width: 46rem;

  @media only screen and (max-width: $bp-large) {
    margin-top: 15rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-large) {
      margin: auto;
    }
  }
}

.start-screen__content__heading {
  margin-bottom: 4rem;
  width: 31rem;
  @extend %h2;

  color: $color-light-xl;

  @media only screen and (max-width: $bp-medium) {
    margin: 0 auto 4rem;
    width: 30rem;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;

    letter-spacing: 0.06em;
  }
}

.start-screen__content__p {
  margin-bottom: 4.4rem;

  @extend %subheading;

  color: $color-dark-s;

  @media only screen and (max-width: $bp-medium) {
    margin: 0 auto 4.4rem;
    width: 30rem;
    text-align: center;
  }
}
